TELEGRAM_TOKEN=Token deines Telegram-Bots, von @BotFather in Telegram
TELEGRAM_CHAT_ID=ID des Chats, in den der Bot schreiben soll
MAIL_USER=E-Mail-Adresse des Postfachs, z.B. name@gmail.com
MAIL_PASSWORD=App-Passwort des Postfachs, nicht das normale Passwort
